<div>
  <h1 class="font-bold text-4xl">All your Lodgings</h1>
</div>

<% @lodgings.each do |lodging| %>
  <%= link_to lodging.title, users_lodging_path(lodging) %>
  <%= lodging.status %>
  <%= button_to 'edit', edit_users_lodging_path(lodging), method: :get %>
  <%= button_to 'delete', users_lodging_path(lodging), method: :delete %>
<% end %>
