<div>
  <h1 class="font-bold text-4xl"><%= @lodging.title %> Calendar</h1>
</div>
<ul>
  <% @calendars.each do |calendar| %>
    <li><%= link_to calendar.user.first_name, users_lodging_lodging_calendars_path(calendar) %></li>
    <li><%= "Duration: #{calendar.start_date} #{calendar.end_date}" %></li>
    <li><%= "Status: #{calendar.status}" %></li>
  <% end %>
</ul>
